{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}

{% block body %}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Passion froid</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#upload">Insertion</a></li>
        <li><a href="#search">Recherche</a></li>
      </ul>
    </div>
</nav>

<div class="row">
    {%for image in images%}
    <div class="card col s3">
      <div class="card-image">
        <img src="../static/{{image.path}}" alt="">
        <span class="card-title">{{image.name}}</span>
      </div>
      <div class="card-content">
        <p>{{image.type}}</p>
      </div>  
    </div>
    {%endfor%}
</div>

{% endblock body %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous">
    </script>
{% endblock %}
