<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous">
    </script>


</head>
<body>
	
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Passion froid</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#upload">Insertion</a></li>
            <li><a href="#search">Recherche</a></li>
          </ul>
        </div>
    </nav>

    <div id="upload" class="row">   
        <div class="col s10 offset-s1"> 
            <form>

                <div class="row">
                    <div class="input-field col s5">
                        <input placeholder="Nom de l'image" id="picture_name" type="text" class="validate">
                        <label for="picture_name">Nom de l'image</label>
                    </div>
    
                    <div class="input-field col s5">
                        <input placeholder="Type d'image" id="picture_type" type="text" class="validate">
                        <label for="picture_type">Type de l'image</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <textarea id="picture_description" class="materialize-textarea"></textarea>
                        <label for="picture_description">Description:</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s2">
                        <label>
                          <input type="checkbox" id="with_product"/>
                          <span>Avec produit:</span>
                        </label>
                    </div>
    
                    <div class="col s2">
                        <label>
                          <input type="checkbox" id="with_human"/>
                          <span>Avec humain:</span>
                        </label>
                    </div>
    
                    <div class="col s2">
                        <label>
                          <input type="checkbox" id="is_instit"/>
                          <span>Photo institutionnelle:</span>
                        </label>
                    </div>
    
                    <div class="col s2">
                        <label>
                          <input type="checkbox" id="is_vertical"/>
                          <span>Format vertical:</span>
                        </label>
                    </div>
    
                    <div class="col s2">
                        <label>
                          <input type="checkbox" id="is_limited"/>
                          <span>Droit utilisation limitée:</span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s5">
                        <input placeholder="Crédit de la photo" id="picture_author" type="text" class="validate">
                        <label for="picture_author">Crédit de l'image:</label>
                    </div>
    
    
                    <div class="input-field col s5">
                        <input placeholder="Copyrigth" id="picture_copyright" type="text" class="validate">
                        <label for="picture_copyright">Copyright:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input placeholder="Date de la photo" id="picture_date" type="text" class="validate">
                        <label for="picture_date">Date de l'image:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <textarea id="picture_tags" class="materialize-textarea"></textarea>
                        <label for="picture_tags">Tags:</label>
                    </div>
                </div>

                <div class="row file-field input-field col s10">
                    <div class="btn">
                        <span>Image</span>
                        <input type="file">
                      </div>
                      <div class="file-path-wrapper">
                        <input id="picture_path" class="file-path validate" type="text">
                      </div>
                </div>


                <button class="btn waves-effect waves-light" name="action" onclick="data.upload()">
                    <i class="material-icons right">Enregistrer</i>
                </button>
        
            </form> 
        </div>
    </div>

    <div id="search">
      <h1>What would you like to search?</h1>
                <form action="" class="formulaire">
               <input class="champ" type="text" value="Search...)"/>
                    <input class="bouton" type="button" value=" " />
        
    </div>

</body>
</html>

<script>
    console.log('hello');

    var data = {};

    data.upload = function() {

        var d = {
            picture_name : $('#picture_name').val(),
            picture_type : $('#picture_type').val(),
            picture_description : $('#picture_description').val(),
            with_product : $('#with_product').is(":checked"),
            with_human : $('#with_human').is(":checked"),
            is_instit : $('#is_instit').is(":checked"),
            is_vertical : $('#is_vertical').is(":checked"),
            is_limited : $('#is_limited').is(":checked"),
            picture_author : $('#picture_author').val(),
            picture_copyright : $('#picture_copyright').val(),
            picture_date : $('#picture_date').val(),
            picture_tags : $('#picture_tags').val(),
            picture_path : $('#picture_path')[0],
        };

        //To do -> integrité des données.
        var url = window.location;
        var base_url = url.protocol + "/" + url.host + "/";
        console.log(d);

        $.ajax({
                type: 'POST',
                dataType: 'json',
                url: base_url + '/upload',
                data: d,
                beforeSend: function(x) {
                    if( x && x.overrideMimeType ){ x.overrideMimeType("application/j-son;charset=UTF-8"); }
                },
                success: function( result ) {
                    
                    M.toast({html: 'Un problème a été rencontré lors de l\'enregistrement.', displayLength:3000,  classes: 'rounded red lighten-2'});
                       
                },
                error: function( result ) { 
                }
        });
    };
    

</script>